/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole di debug */
[class*="col-"] {
  min-height: 200px;
  /* background-color: pink; */
  border: solid 1px  #000;
  text-align: center;
}

/* margine fra row */
.row {
  margin: 30px;
}

/* centratura h1 row */
.row h1 {
  text-align: center;
}

/* dimensioni immagini prime due sezioni */
#lezioni img,
#steps img {
  max-width: 100%;
  height: 200px;
}

/* regole immagini sezione why */
#why img  {
  max-width: 100%;
  height: 250px;
  background-color: #428bca;
  border-radius: 50%;
  margin-top: 30px;
  padding: 30px;
}

/* margini h3 */
h3 {
  margin: 10px;
}
